learnning-spring/src/main/resources/META-INF/user.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.suns.com/schema/user"
			elementFormDefault="qualified">
	<!--限定自定义标签所包含的属性-->
	<element name="user">
		<complexType>
			<attribute name="id" type="string"/>
			<attribute name = "name" type="string"/>
			<attribute name = "password" type="string"/>
		</complexType>
	</element>

</schema>